<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> -->
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<!--<supportedRuntime version="v2.0.50727" />-->
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
		<!--<supportedRuntime version="v4.0"/>-->
	</startup>
</configuration>
